{% extends 'base.html.twig' %}

{% block title %}List of Pokémon{% endblock %}

{% block body %}
    <div class="jumbotron">
        <table class="table">
            <h1>Team list</h1>
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Sprite</th>
                <th scope="col">Sum Exp</th>
                <th scope="col">Types</th>
                <th scope="col">Creation date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <th scope="row">{{ team.id }}</th>
                    <td> {{ team.name }}</td>
                    <td>{% for pokemon in  team.pokemon %}
                                <img class="img-thumbnail col-sm-3" src="{{ pokemon.sprite }}" alt="Pokemon sprite"/>
                        {% endfor %}
                    </td>
                    <td> {% set sum = 0 %}
                         {% for pokemon in  team.pokemon %}
                            {% set sum = sum + pokemon.baseExperience %}
                         {% endfor %}
                        {{ sum }}</td>
                    <td>
                        <ul>{% for pokemon in team.pokemon %}
                                {% for type in pokemon.types %}
                                    <li> {{ type.name }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td> {{ team.createdAt | date('d-m-Y')}}</td>
                    <td><a class="btn btn-primary" href="/team/{{team.id}}/edit" role="button">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
