{% extends 'base.html.twig' %}

{% block title %}List of Pokémon{% endblock %}

{% block body %}
    <h1 class="display-5 fw-bold">List of created team</h1>
    <p class="col-md-8 fs-4">Here are all your Pokémon teams you created, <br>
        on the right you will find a button to edit the team</p>
    {#<p>Filter by Pokémon type</p>#}
    <p></p>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Sprite</th>
                <th scope="col">Sum Exp</th>
                <th scope="col">Types</th>
                <th scope="col">Creation date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <th scope="row">{{ team.id }}</th>
                    <td> {{ team.name }}</td>
                    <td>{% for pokemon in  team.pokemon %}
                           <img class="img-thumbnail col-sm-3" src="{{ pokemon.sprite }}" alt="Pokemon sprite"/>
                        {% endfor %}
                    </td>
                    <td> {% set sum = 0 %}
                        {% for pokemon in  team.pokemon %}
                            {% set sum = sum + pokemon.baseExperience %}
                        {% endfor %}
                        {{ sum }}</td>
                    <td>
                        <ul>{% for pokemon in team.pokemon %}
                                {% for type in pokemon.types %}
                                    <li> {{ type.name }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td> {{ team.createdAt | date('d-m-Y')}}</td>
                    <td><a class="btn btn-primary" href="/team/{{team.id}}/edit" role="button">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <a href="/team/create" class="btn btn-secondary" style="float: right">Create new team</a>
    <a href="/team" class="btn btn-secondary" style="float: right; margin-right: 2px">Homepage</a>
{% endblock %}
